<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NSS-XIE</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <link rel="stylesheet" href="/css/style1.css"> -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="image">
          <img src="https://static.vecteezy.com/system/resources/previews/009/119/012/original/sos-logo-sos-letter-sos-letter-logo-design-initials-sos-logo-linked-with-circle-and-uppercase-monogram-logo-sos-typography-for-technology-business-and-real-estate-brand-vector.jpg" alt="">
        </div>
        <p class="navbar-brand">Statistic Optimuizer For Students-SOS</p>
        <a href="/signup" target="_blank" ><button type="button" class="btn btn-primary" id="addEvent" style="right: 50px;
          margin: 14px;
          position: absolute;">
          Sign Up
        </button></a>
      </div>
    </div>
</nav>

<body>